<h1> Tutors matched with <%= @student.name %> </h1>

<ul>
    <% @student.tutors.each do |tutor| %>
    <li><b> <%= link_to tutor.name, tutor_path(tutor) %> </b></li>
        <p> <%= tutor.email %> </p>
    <% end %>
</ul>
    
