<h1> Students matched with <%= @tutor.name %> </h1>

<ul>
    <% @tutor.students.each do |student| %>
    <li><b> <%= link_to student.name, student_path(student) %> </b></li>
        <p> <%= student.email %> </p>
    <% end %>
</ul>